<!DOCTYPE html>
<html lang="en">


<head>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular-resource.min.js">
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script> 
  <script src="/node_modules/angular/angular.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="script.js"></script>
  <script src="modules/Directives.js"></script>
  <script src="assets/ProductList.json"></script>

<style src="assets/style.css"></style>
  
</head>


<body ng-app="dragDrop" ng-controller="kpr" ng-init= "currentItemCategory = 'Nike' ">

<div class="container">

    <div class="jumbotron" droppable>
      <div id=checkout>
      <img src= "imgs/cart.png" class="img-rounded"  style= width:10%; height: 10%; float:right; alt="Image"  > <br>
      <button ng-click="startProcess()">Checkout</button>

      <p> {{'Category:'+itemDropCategory + '  ProdID:' + itemDropID  + '  Qty:'+itemDropQty}} </p>
      </div>
    </div>


      <!-- rows to hold category buttons-Nav bar-->
    <div id='navBar'>
      <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Andes</a>
          </div>
          <ul class="nav navbar-nav">

            <li><a href="#" ng-click='gotoPage("Nike")'>Nike</a></li>
            <li><a href="#" ng-click='gotoPage("Louboutin")' >Louboutin</a></li>
          </ul>
        </div>
      </nav>  
    </div>


    
  <div class="container-fluid bg-3 text-center">
    <div class="row">
    
        <div class="col-sm-3" ng-repeat="x in productList[currentItemCategory]">
            <img src="imgs/{{currentItemCategory}}/{{x.Id}}.jpg" id ='{{x.Id}}' class="img-responsive" style="width:100%" alt="Image" draggable>        
            
            <div class="form-group">
              <p> {{x.Name + ' Qty:' + x.Quantity}} <br> {{"=N=" + x.Price }} <input class="col-xs-3" type="number" min="1" max="20" ng-model='x.Quantity' > </p>
            </div>
        </div>
    </div>

  </div><br><br>
</div>

<footer class="container-fluid text-center">
  <p>Andes Inc</p>
</footer>

</body>

</html>
